input[type=submit]{
    height: 40px;
    color: white;
    background-color: black;
}

textarea{
    border: 1px solid #eee;
    border-radius: 5px;
    border-color: darkgray;
    padding: 10px 15px;
    margin-top: 10px;
    background-color: white;
    width: 500px;
    height: 200px;
    display: block;
}


input{
    border: 1px solid #eee;
    border-radius: 5px;
    border-color: darkgray;
    padding: 10px 10px;
    margin-top: 10px;
    background-color: white;
    width: 500px;
    height: 20px;
    display: block;
}
